{% extends 'questions/base.html' %}
{% load static %}

{% block title %} Bosh sahifa {% endblock %}

{% block content %}
<div class="container">
    <h1 class="subject-h1">Fanlar ro'yxati</h1>
    <div class="subject-card-container">
        {% for subject in subjects %}
            <div class="subject-card">
                <h3>{{ subject.name }}</h3>
                <a href="{% url 'question-list-by-subject' slug=subject.slug %}" class="subject-card-button">
                    Savollarni ko'rish
                </a>
            </div>
        {% empty %}
            <p>Hech qanday fan mavjud emas.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
